<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.springboard.dao.UserDAO">

	<resultMap id="userResult" type="UserVO">
		<result property="id" column="id"/>
		<result property="passwd" column="password"/>
		<result property="name" column="name"/>
	</resultMap>

    <select
    id="searchUser"
    parameterType="UserVO"
    resultMap="userResult" >
    
        select *
        from users
        where 1=1
        and id = #{id}
        and password = #{passwd}
        
    </select>

</mapper>

